#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  color: rgba(102, 96, 96, 0.87);
  background-color: #eeeef3;
}

input.task-input {
  border: 2px solid rgb(179, 177, 177);
  padding: 10px;
  width: 70%;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

input.task-input:focus {
  outline: none;
  border-color: black;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  background-color: rgb(224, 219, 219);
  color: black;
  padding: 10px;
  gap: 10px;
}

li span {
  flex: 1;
  text-decoration: none;
}

button {
  padding: 6px 12px;
  background-color: #030303;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}
